.container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 25px;
}

.input{
  padding: 10px;
  width: 80%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-size: 16 px;
}

.input:focus{
  outline: none;
}